/* fredoka one font family */
  @import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
:root{
  --Primary: #008080; /* Teal */
  --Secondary: RGB(255, 220, 0); /*Yellow*/
  --Accent: RGB(255, 60, 120); /*hot pink*/
  --Background: rgb(251, 248, 248); /*Light Gray*/
  --Navy-Blue: #0909b5;
  --Forest-Green: #2eb92e;
  --Royal-Purple: #7851a9;
  --Charcoal-Grey: #396583;
  --Burgundy: #a9153a;
  --Dark-Slate-Grey: #3e8e8e;
  --Midnight-Blue: #1919d4;
  --Eggplant: #af3775;
  --Deep-Pink: #ff1493;
}

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   font-family: 'Fredoka One', cursive;
   font-weight: 100;
}

.container{
    width:100%;
    min-height: 100vh;
    background: rgba(9, 9, 121, 1);
    background: radial-gradient(circle,rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 0%, rgba(0, 212, 255, 1) 75%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.show{
    display: none;
}


#start-wrap{
   display: flex;
   flex-flow: column nowrap;
   gap: 32px;
}

#title{
    animation: slide-in 2.2s ease-in-out;
    color: #fff;
    text-align: center;
    letter-spacing: 4px;
    text-shadow: 0 1px 1px #000;
    font-size: 5.1em;
    overflow: hidden;
    
}

#title::first-letter{
    color: #ffff00;
     
}

@keyframes slide-in {
    
    0%{
        width:1.4ch;
        transform: rotateY(180deg);
        
    }
    10%, 20%, 50%, 70%, 80%{
        width: 1.4ch;
        
    }
    
    100%{
        width: 200px;
        transform: rotateY(-360deg);
    }
}

#start-btn{
    border: none;
    width: 200px;
    padding: 8px 16px;
    background: #ffff00;
    background: linear-gradient(67deg, var(--Accent) 11%, #ffff00 100%);
    border-radius: 25px;
    font-size: 20px;
    color: #fff;
    text-shadow: 0px 1px 1px #232222;
    letter-spacing: 2px;
    cursor: pointer;
    transition: transform 0.5s ease;
}

#start-btn:hover{
    transform: scale(1.2);
}


/* sytle the quiz part*/

.quiz-container{
    width: 600px;
    max-width: 95%;
    min-height: 550px;
    margin: auto;
    background-color: var(--Background);
    padding: 32px 16px 16px;
    color: #555050;
    display: flex;
    flex-direction: column;
    justify-content: unset;
    align-items: center;
    gap: 32px;
    border-radius: 25px;
    font-weight: 200;
    box-shadow: 0px 2px 10px var(--Primary);
    user-select: none;
    
}

.options{
    display: flex;
    flex-flow: column;
    gap: 20px;
    width: 300px;
    padding: 32px;
    margin: 0 auto;
    
   
}
.options div{
    padding: 0;
    margin: 0;
    position: relative;
    top: 0;
    height: 40px;
    text-align: center;
}

input[type="radio"]{
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   width: 100%;
   height: 40px;
   background-color: var(--Background);
   border: 1px solid #b9b5b5;
   border-radius: 25px;
   text-align: center;
   cursor: pointer;
   display: inline-block;
   margin: 0;
   padding: 0;
   line-height: 40px;
   transition: border 50ms ease;
}

input[type="radio"]:checked{
    border: 4px solid var(--Dark-Slate-Grey);
    color: #fff;

}

label{
    cursor: pointer;
    display: inline-block;
    width: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 10px;
    left: 0px;
    text-align: center;
}

#answer-btn{
padding: 8px 16px;
border: 1px solid #b9b5b5;
border-radius: 25px;
color: #847d7d;
font-size: 18px;
width:236px;
transition: all 0.5s ease;

}

#answer-btn:hover, #answer-btn:active{
    background-color: var(--Primary);
    color: #fff;
    text-shadow: 0px 1px 1px #232222;
    cursor: pointer;
    
}

/* show answer style*/

.answer-container{
    width: 600px;
    max-width: 95%;
    margin: auto;
    background-color: var(--Accent);
    padding: 32px 16px 16px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    border-radius: 25px;
    font-weight: 200;
    box-shadow: 0px 2px 10px var(--Primary);
    user-select: none;
}

.answer-container p {
    max-width: 40ch;
    line-height: 30px;
    font: 20px;
    font-weight: 600;
    text-align: center;
    font-family: sans-serif;
}

.answer-container h1{
    text-align: center;
    font-size: 3em;
}

.answer-container h2{
    text-align: center;
    font-size: 2em;
}

.answer-container h3{
    font-size: 1.5em;
    
}

#next{
    padding: 16px;
    border-radius: 25px ;
    border: none;
    background-color: var(--Background);
    color: rgb(9, 171, 204);
    font-size: 16px;
    cursor: pointer;

}